
html {
  /* width: 849px; */
}

.window-item {

  height: calc(100vh - 48px);
  overflow-y: scroll;
  margin-top: 48px;
  /* display: flex; */
  
}

.projects-container {
  flex-grow: 1;
  background-color: #eeeeee;
  height: auto;
}

/* 
.project-card:last-child {
  margin-bottom: 100px;
} */

.team-member-chip {
  margin-right: 2px;
}

.v-timeline-item {
  width: 100%;
  max-width: 100%;
}
 
.v-timeline-item__body {
  width: 100%;
  max-width: 100%;
}

.v-card-experience-item {
  width: calc(100vw - 100px)
}